  {{#if message}}
       <div class="alert alert-{{message.type}}" role="alert">
     {{message.message}}
    </div>
    {{/if}}
<div class="titleadd-h3">
        <h3 class="title-inputP"><span class="addcolor">Add Type Your</span> Heroes</h3>
    </div>
<div class="container additem-content">
    <form >
    <div class="input-group form-additem mt-3 mb-3">
    <span class="input-group-text" id="basic-addon1">Type Heroes</span>
    <input type="text" class="form-control" name="inptypeheroes" placeholder="Type Heroes">
    </div>
    <br>
   <div class="input-group form-additem mt-3 mb-3">
    <button class="form-control btnaddhero">Add Type Heroes</button>
    </div> 
    </form>
</div>