*{
    padding: 0;
    margin: 0;
}
header.header-up{
    width: 100%;
    height: 67px;
    display: block;
    background-color: teal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cont-header{
    width: 100%;
    height: auto;
    position: relative;
}
.title-head{
    float: left;
}
.title-head h3{
    padding: 17px;
    font-size: 28px;
    color: rgb(250, 69, 14);
}
span.DW-title{
    color: white;
}
.right-menu{
    float: right;
    position: relative;
    
}
ul.menu-btn{
    float: right;
    margin-right: 12px;
    margin-left: 12px;
    padding: 9px;

}
.menu-btn button{
    text-align: center;
    padding: 9px 18px 9px 18px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 6px;
    border: none;
}
.menu-btn button:active{
    position: relative;
    top: 6px;
}
.add-hero{
    background-color: tomato;
    color: white;
}
.add-type-hero{
    background-color: yellow;
    color: rgb(87, 10, 10);
}
.big-contents{
    padding: 43px !important;
    width: 100%;
    display: block;
    height: 550px;
}
.card-view{
  /* margin: 25px !important; */
  display: flex !important;
  float: left !important;
  position: relative !important;
  padding: 12px !important;
  margin: 8px !important;

}