*{
    padding: 0;
    margin: 0;
}
.titleadd-h3{
    width: 100% !important;
    height: 49px !important;
    background-color: rgba(9, 105, 105, 0.575);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titleadd-h3 h3{
    text-align: center;
    font-weight: 500;
    padding: 4px;
}
.addcolor{
    color: rgba(138, 40, 11, 0.726);
}
.additem-content{
    width: 40% !important;
}
.btnaddhero{
    border: none;
    color: white;
    background-color: teal;
}
.btnaddhero:active{
    position: relative;
    top: 6px;
}